
nav  {
   background: var(--color-bg-tertiary);

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}
  a{
font-size: var(--fz-normal);
  }
  button{
    display: none;
  }
  img{
    width: 200px;
    height: 150px;
  }
  ul{
    display: flex;
    justify-content: center ;
    width: 100%;
    padding:0;

    li{
margin:10px;
      list-style-type: none;

    }
  }
}


@media screen and (min-width: $vw-medium){
  nav{
  ul{
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    li{
      font-size: var(--fz-big);

      a{
        font-size:var(--fz-big);

      }
    }
  }
}

}
//.primary{
//  display: none;
//
//}
//
//.primary-mobile{
//  ul{
//    background: var(--color-white);
//    margin: 0;
//    padding: 10px;
//    list-style-type: none;
//    display: flex;
//    justify-content:space-between ;
//    align-items: center;
//  }
//}
