

:root{

  --color-white: #fff;
  --color-black: #000;





  --color-text-primary:   #000;
  --color-text-secondary: #000;
  --color-text-tertiary: #000;

  --color-link: #000;
  --color-link-visited: #000;
  --color-link-hover: #fff;
  --color-link-active: #fff;
  --color-link-focus: #fff;

  --color-bg-primary: #7F7575;
  --color-bg-secondary: #625B5B;
  --color-bg-tertiary: #4F4645;
  --color-bg-quaternary: #fff;


}




