

:root{

  --color-white: #fff;
  --color-black: #000;





  --color-text-primary:   #fff;
  --color-text-secondary: #fff;
  --color-text-tertiary: #fff;

  --color-link: #fff;
  --color-link-visited: #fff;
  --color-link-hover: #fff;
  --color-link-active: #fff;
  --color-link-focus: #fff;

  --color-bg-primary: #fff;
  --color-bg-secondary: #fff;
  --color-bg-tertiary: #fff;
  --color-bg-quaternary: #fff;


}




