
:root{

  --max-width: 1440px;
  --min-width: 375px;

  --padding-thin: 10px;
  --padding-large: 20px;

  --margin-thin: 10px;
  --margin-large: 20px

}


//  BREAKPOINTS

$vw-small: 375px;
$vw-medium: 768px;
$vw-huge: 1440px;






